html {
    height: 100%;
  }
  body {
    min-height: 100%;
    background: rgba(41, 54, 99, 0.795);
    color: white;
  }

.page {
    
}
.searchForm {

}
.search {
    display: flex;
    flex-direction: column;
    justify-items: right;
    gap: 1rem;
    width: fit-content;

    .searchText{
        display: flex;
        min-width: 5rem;
        max-width: 10rem;
    }
    .searchInput {
        min-width: 5rem;
        max-width: 15rem;
        color: black;
    }
    .searchBtn {
        border: 2px solid white;
        background-color: white;
        color: black;
        min-width: 5rem;
        max-width: 10rem;
    }
}